.xl-container {
    height: 100vh;
    display: flex;
    align-items: center;
}

.row {
    display: flex;
    align-items: center;
}

.col.xl-6 { width: 50%; }

.bg--image img { width: 100%; }

.center { text-align: center; }